.container {
  display: block;
  position: absolute;
  width: 100%;
}

.admin_nav {
  position: relative;
  width: 100%;
  height: 3em;
  left: -0.5em;
  top: -0.5em;
  background: #ddd;
}

.top_menu_option {
  display: inline-block;
  position: relative;
  top: 0.8em;
  margin-left: 2em;
}

.top_menu_option a {
  color: #000;
  text-decoration: none;
}

.top_menu_option a:hover{
  color: #99d
}

form {
  display: block;
  position: relative;
  top: 7em;
  left: 17em;
}

.morador_input {
  display: inline-block;
  position: relative;
}
